chromadb
docx2pdf
ezdxf
fastapi
faster-whisper
mss
numpy
ollama
opencv-python
openpyxl
openwakeword
Pillow
piper
psutil
pyautogui
pydantic
pynput
pypdf
pyperclip
pystray
python-docx
python-dotenv
python-pptx
python-telegram-bot
pywebview
pywin32
requests
rich
scipy
shapely
sounddevice
streamlit
streamlit_mic_recorder
yt_dlp
